In [1]:
# 1. Import dependencies
import requests
import pymongo

import pandas as pd
import numpy
import requests
from bs4 import BeautifulSoup as bs

</br>
<center><font size=8, color="orange", face="Georgia"> Scrapped State Abbreviations</font><center>
<p>
<center><font size=4.5, color="black", face="Georgia"> Priamry key for joining tables</font><center>

![Abbreviations-Your Dictionary](./images/abbreviations.png)

# First Source -- STATES --

In [535]:
url = "https://abbreviations.yourdictionary.com/articles/state-abbrev.html"

In [536]:
#connect to url
response = requests.get(url)
response

In [537]:
#parse html page using Beautiful Soup
soup = bs(response.text, 'lxml')

# 50 USA States

In [538]:
#locate table containing all 50 state names and abbr. for 'div id'
states = soup.select('div[id^=article_body]')
for s in states:
    slt = soup.find('ul')
    #scrape names
    for a in slt:
        state_abbrev = slt.find_all('li')
        
# create new list to store items
state_list = []
#loop thorugh iterable list, abstract text value and appended each to new list
for one in state_abbrev:
    state_list.append(one.text)

# Additional Territories

In [539]:
#locate list containing state and abbr.
abbrev = soup.find('div', class_='article_double')
#scrapped list
for a in abbrev:
    list_other = abbrev.find('ul')
    for a in list_other:
        others = list_other.find_all('li')
        
#loop thorugh iterable list, abstract text value and appended each to new list
for o in others:
    state_list.append(o.text)

# Clean Data & Display DF

In [584]:
# save list as data frame
states = pd.DataFrame({'state':state_list})
# split columns to separate Abbrev and Name (will use it a primary key to join tables)
state = states['state'].str.split('-', 1, expand=True)
#rename col to 'State'
state_df = state.rename(columns={state.columns[0]: "State"}).set_index('State').sort_values(by='State', ascending=True)
state_df.count()
state_df

                                    1
State
Alabama                           AL
Alaska                            AK
American Samoa                    AS
Arizona                           AZ
Arkansas                          AR
California                        CA
Colorado                          CO
Connecticut                       CT
Delaware                          DE
District of Columbia              DC
Federated States of Micronesia    FM
Florida                           FL
Georgia                           GA
Guam                              GU
Hawaii                            HI
Idaho                             ID
Illinois                          IL
Indiana                           IN
Iowa                              IA
Kansas                            KS
Kentucky                          KY
Louisiana                         LA
Maine                             ME
Marshall Islands                  MH
Maryland                          MD
Massachusetts                     MA
Michigan                          MI
Minnesota                         MN
Mississippi                       MS
Missouri                          MO
Montana                           MT
Nebraska                          NE
Nevada                            NV
New Hampshire                     NH
New Jersey                        NJ
New Mexico                        NM
New York                          NY
North Carolina                    NC
North Dakota                      ND
Northern Mariana Islands          MP
Ohio                              OH
Oklahoma                          OK
Oregon                            OR
Palau                             PW
Pennsylvania                      PA
Puerto Rico                       PR
Rhode Island                      RI
South Carolina                    SC
South Dakota                      SD
Tennessee                         TN
Texas                             TX
Utah                              UT
Vermont                           VT
Virgin Islands                    VI
Virginia                          VA
Washington                        WA
West Virginia                     WV
Wisconsin                         WI
Wyoming                           WY

<center><font size=8, color="green", face="Georgia"> Minimum Wage for all USA States from <br /> 1968 - 2018</font><center>

![Abbreviations-Your Dictionary](./images/deptlabor.png)

# Second Source -- WAGES --

In [546]:
#2007-2013
data4 = pd.read_html('https://www.dol.gov/whd/state/stateMinWageHis.htm',attrs={'summary': 'This is a table of minimum changes by state for 2007 to 2013.'})[0]
df4 = data4.reindex(data4.index.drop(0))
#print(df4)
#2014-2018
data5 = pd.read_html('https://www.dol.gov/whd/state/stateMinWageHis.htm',attrs={'summary': 'This is a table of minimum changes by state for 2014 to 2017.'})[0]
df5 = data5.reindex(data5.index.drop(0))
#df5

In [570]:
# 8. Merge all dfs on "State or other  jurisdiction". Note: Be mindful of spacing
# rename col for join, drop empty '...' values, TOTAL STATES :49, set index, sort descendig value
tests = df4.merge(df5,on='State or other  jurisdiction').rename(index=str, columns={"State or other  jurisdiction": "State"}).drop(['0', '17', '23', '39', '41']).set_index('State').sort_values(by='State', ascending=True)
tests.head()

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
State,,,,,,,,,,,,
Alaska,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
Arizona,6.75,6.90,7.25,7.25,7.35,7.65,7.80,7.90,8.05,8.05,10.00,10.50
Arkansas,6.25[c],6.25[c],6.25[c],6.25[c],6.25[c],6.25[c],6.25[c],6.25[c],7.50[c],8.00[c],8.50[c],8.50[c]
California,7.50,8.00,8.00,8.00,8.00,8.00,8.00,9.00,9.00,10.00,10.00,11.00
Colorado,6.85,7.02,7.28,7.24,7.36,7.64,7.78,8.00,8.23,8.31,9.30,10.20

# Merge: States & Wages

<center><font color="red" size=8>HELP</font></center>

In [590]:
#test 49   state_df 59


state_df.join(test, on='State', how='inner')

Empty DataFrame
Columns: [1, Abbrev, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
Index: []

# Obtained List from Repo
###  Manually cleansed list, limitation when merging results wouldnt display

In [575]:
states = ["AK", "AZ", "AR", "CA", "CO", "CT", "DE", "DC", "FL", "GA", 
          "GU", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "ME", "MD", 
          "MA", "MI", "MN", "MS", "MT", "NE", "NV", "NH", "NJ", 
          "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "PR", "RI", 
          "SD", "TX", "VI", "UT", "VT" ,"VA", "WA", "WV", "WI", "WY"]

tests.insert(0, 'Abbrev', states)

In [581]:
tests.head()

,Abbrev,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
State,,,,,,,,,,,,,
Alaska,AK,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
Arizona,AZ,6.75,6.90,7.25,7.25,7.35,7.65,7.80,7.90,8.05,8.05,10.00,10.50
Arkansas,AR,6.25[c],6.25[c],6.25[c],6.25[c],6.25[c],6.25[c],6.25[c],6.25[c],7.50[c],8.00[c],8.50[c],8.50[c]
California,CA,7.50,8.00,8.00,8.00,8.00,8.00,8.00,9.00,9.00,10.00,10.00,11.00
Colorado,CO,6.85,7.02,7.28,7.24,7.36,7.64,7.78,8.00,8.23,8.31,9.30,10.20

# Below is the final output i want

In [580]:
# 4. Display dataset saved from 'Source' (Source used:--KAGGLE: https://www.kaggle.com/shivamb/cities#zip_codes_states.csv)
df = pd.read_csv("./USA_cities.csv").rename(columns={'state': 'Abbrev'})


dfs_data = df.merge(tests, on="Abbrev")
dfs_data

,zip_code,latitude,longitude,city,Abbrev,county,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,501,40.922326,-72.637078,Holtsville,NY,Suffolk,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
1,544,40.922326,-72.637078,Holtsville,NY,Suffolk,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
2,6390,40.992288,-72.723496,Fishers Island,NY,Suffolk,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
3,10001,40.750422,-73.996328,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
4,10002,40.718758,-73.986427,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
5,10003,40.730223,-73.988564,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
6,10004,40.696355,-74.025276,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
7,10005,40.706903,-74.008654,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
8,10006,40.708834,-74.013168,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
9,10007,40.713941,-74.007401,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
10,10008,40.780751,-73.977182,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
11,10009,40.727750,-73.980396,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
12,10010,40.739024,-73.983542,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
13,10011,40.740916,-73.999769,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
14,10012,40.729124,-73.991582,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
15,10013,40.722105,-74.003497,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
16,10014,40.738088,-74.005095,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
17,10015,40.780751,-73.977182,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
18,10016,40.745527,-73.978449,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
19,10017,40.752955,-73.973196,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
20,10018,40.755332,-73.993172,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
21,10019,40.765926,-73.985443,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
22,10020,40.735449,-73.996788,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
23,10021,40.768823,-73.960257,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
24,10022,40.758775,-73.967842,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
25,10023,40.776765,-73.982213,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
26,10024,40.808130,-73.965653,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
27,10025,40.798664,-73.967778,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
28,10026,40.802918,-73.953107,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
29,10027,40.812242,-73.953200,New York,NY,New York,7.15,7.15,7.15,7.25,7.25,7.25,7.25,8.00,8.75,9.00,9.70,10.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38048,99803,58.377074,-134.617383,Juneau,AK,Juneau,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38049,99811,58.383480,-134.197786,Juneau,AK,Juneau,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38050,99820,57.500525,-134.585954,Angoon,AK,Skagway Hoonah Angoon,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38051,99821,58.449413,-134.700348,Auke Bay,AK,Juneau,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38052,99824,58.276308,-134.397642,Douglas,AK,Juneau,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38053,99825,58.331798,-135.181256,Elfin Cove,AK,Skagway Hoonah Angoon,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38054,99826,58.331798,-135.181256,Gustavus,AK,Skagway Hoonah Angoon,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38055,99827,59.312688,-135.681153,Haines,AK,Haines,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38056,99829,58.097655,-135.431561,Hoonah,AK,Skagway Hoonah Angoon,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38057,99830,56.973554,-133.935996,Kake,AK,Wrangell Petersburg,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38058,99832,58.331798,-135.181256,Pelican,AK,Skagway Hoonah Angoon,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38059,99833,56.767056,-132.931950,Petersburg,AK,Wrangell Petersburg,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38060,99835,57.080818,-135.318348,Sitka,AK,Sitka,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38061,99836,56.535950,-132.827948,Port Alexander,AK,Wrangell Petersburg,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38062,99840,59.456753,-135.314852,Skagway,AK,Skagway Hoonah Angoon,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38063,99841,57.798249,-135.285061,Tenakee Springs,AK,Skagway Hoonah Angoon,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38064,99850,58.383480,-134.197786,Juneau,AK,Juneau,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38065,99901,55.400674,-131.674090,Ketchikan,AK,Ketchikan Gateway,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38066,99903,55.517921,-132.003244,Meyers Chuck,AK,Prince Wales Ketchikan,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38067,99918,55.517921,-132.003244,Coffman Cove,AK,Prince Wales Ketchikan,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38068,99919,55.126774,-131.580407,Thorne Bay,AK,Prince Wales Ketchikan,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38069,99921,55.513301,-133.117022,Craig,AK,Prince Wales Ketchikan,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38070,99922,55.208706,-132.825903,Hydaburg,AK,Prince Wales Ketchikan,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38071,99923,55.517921,-132.003244,Hyder,AK,Prince Wales Ketchikan,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38072,99925,55.554393,-133.090680,Klawock,AK,Prince Wales Ketchikan,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38073,99926,55.094325,-131.566827,Metlakatla,AK,Prince Wales Ketchikan,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38074,99927,55.517921,-132.003244,Point Baker,AK,Prince Wales Ketchikan,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38075,99928,55.395359,-131.675370,Ward Cove,AK,Ketchikan Gateway,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38076,99929,56.449893,-132.364407,Wrangell,AK,Wrangell Petersburg,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84
38077,99950,55.542007,-131.432682,Ketchikan,AK,Ketchikan Gateway,7.15,7.15,7.15,7.75,7.75,7.75,7.75,7.75,8.75,9.75,9.80,9.84